<div class="container">
  <div class="row">
    <%= form_tag(search_path, method: "get", class:"form-horizontal") do %>
    <div class="col-md-4 col-md-offset-1">
      <label class="control-label">Search : </label>
    </div>
    <div class="col-md-6">
      <%= text_field_tag "terms" , params[:terms], :placeholder=>"Type keyword" , :class=>"form-control"%>
    </div>
    <% end %>
  </div>
  <div class="row">
    <% if @result.present? %>
        <% @result.each do |result|%>
            <div class="col-md-6"><%= link_to result['trackName'], result['trackViewUrl']%></div>
            <div class="col-md-6"><%= result['artistName']%></div>
        <% end %>
    <% end%>

  </div>
</div>